<button class="btn btn-primary mt-3 float-end" [routerLink]="['/customer/form']">Back to create data</button>

<table class="table">
  <thead class="table-dark">
    Customer Table
  </thead>
  <tbody>
    <tr class="table-dark">

      <th>Id</th>
      <th>Name</th>
      <th>Mobno</th>
      <th>Address</th>
      <th>date</th>
      <th colspan="2">Action</th>

    </tr>
    <tr *ngFor="let item of customers,let i=index">
      <td>{{i+1}}</td>
      <td>{{item.name}}</td>
      <td>{{item.mobno}}</td>
      <td>{{item.address}}</td>
      <td>{{item.date}}</td>
      <td><button type="button" class="btn btn-success" (click)="editDataOfCustomer(item.id)">Edit</button>&nbsp;
        <button type="button" class="btn btn-success" (click)="deleteDataOfCustomer(item)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
